.wrapper__main {
  margin-top: 15px;
  text-align: center;
  color: white;
  line-height: 2rem;
  font-size: 2rem;
}

.page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
