.footer {
  margin-top: 1%;
}
.wrapper__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
}

.footer__git {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__git_link img,
.footer__git_account {
  display: inline-block;
  font-size: 2rem;
  line-height: 2.1rem;
  text-decoration: none;
}
.footer__git_link img {
  width: 80px;
  height: 70px;
}
.footer__text {
  font-size: 2.2rem;
  line-height: 2.3rem;
}
.footer__rs_link img {
  display: inline-block;
  width: 60px;
  height: 60px;
}
